vendor
public_html/.maintenance
.idea
protected/data/script_map.json

config/docker/logs/
config/docker/etc/php.d/local-xxx.ini
config/docker/local/.bash_history
.sass-cache
/cache.properties
/build/logs/
/build/coverage/
scripts/deploy/
.php_cs.cache
public_html/sitemaps/*

/tests/Codeception/_output/
/tests/Codeception/_support/_generated/

config/php/settings.php
build

public_html/bower/
/phpunit.xml
node_modules/
/public_html/build/
